/* Базовые стили для всех кнопок */
.base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm); /* Устанавливаем отступ сразу для всех элементов внутри текста и картинки */
  padding: var(--space-sm) var(--space-xl);
  height: 48px;
  border-radius: var(--radius-lg);
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: var(--font-size-2xl);
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: opacity 0.2s; /* для плавной анимации например при наведении */
  border: none;
}

/* когда у тега <button> имеется атрибут disabled */
.base:disabled {
  background: var(--disabled);
  color: var(--text-caption);
  cursor: not-allowed;
  opacity: 0.7;
}

.short {
  width: fit-content; /* Дополнительный класс: ширина кнопки по контенту */
}

.large {
  width: 100%; /* Дополнительный класс: растягивается на всю ширину контейнера */
}

/* Цветовые вариации (варианты primary-основной, outline - светлая с оконтовкой, reset_filter - кнопка сброса фильтов, white - белая кнопка) */
.primary {
  background: var(--accent);
  color: var(--text-primary);
}

.outline {
  background: var(--background-secondary);
  border: 1px solid var(--accent);
  color: var(--text-primary);
}

.outline_form {
  background: var(--background-secondary);
  border: 1px solid var(--text-caption);
  color: var(--text-primary);
}

.reset_filter {
  background: var(--background-main);
  color: var(--text-link);
}

.white {
  background: var(--background-secondary);
  color: var(--text-primary);
}

/* Контейнер для изображения */
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
