.page {
  width: 100%;
}

.container {
  max-width: 1368px;
  margin: 32px auto 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.top {
  display: flex;
  align-items: stretch;
  gap: 24px;
}

.top > :first-child {
  flex: 0 0 324px;
}

.top > :last-child {
  flex: 1;
  min-width: 0;
}

.similarSkills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.sectionTitle {
  font-size: 24px;
  line-height: 28px;
}

.section {
  padding-left: 0;
  padding-right: 0;
}
